<a href="https://colab.research.google.com/github/gimjinmin/BP_10_Ch6/blob/main/BP_10_Ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(2, 101):    #range로 2에서 시작해서 101이전까지 반복하는데 2값씩 커지면서 반복
  if i%2==0 :
    print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
year = 0
balance = 1000
while balance <= 2000:     #조건이 있는데 조건을 충족하지 못하기 때문에 balance는 1번을 돌지 못하고 0번 반복하고 종료
    year = year + 1
    interest = balance * 0.07
    balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [ ]:
n = 1234
sum = 0
while n > 0:
    digit = n %10    #%는 나머지를 연산하는 값이므로 n값을 10으로 구한다면 1000,200,30은 10의 배수이므로 가능하지만 4를 정수 10으로는 나눌수 없어 4는 나머지 값이다.
    sum = sum + digit
    n = n // 10
print(sum)

10

In [ ]:
ans = 0
while ans != 3*9:
 ans = int(input("3*9는"))
print("맞았습니다.")

3*9는27
맞았습니다.

In [ ]:
sum =0
while(True):
    cal = int(input("정수를 입력하시오 : "))
    if(cal==0):   #값을 입력받았을 때 0이면 break 아니면 변수 sum에 cal 값을 더한다.
        break;
        sum = sum + x
print("합은", sum ,"입니다.")

정수를 입력하시오 : 1
정수를 입력하시오 : 0
합은 0 입니다.

In [ ]:
from random import randint      #2개의 수를 random 함수를 통해서 출력하는데 책에서 조건이 따로 지정되지 않아서 출력된 3개를 기준으로 반복 진행
for i in range(3) :
 d1 = randint(1, 6)
 d2 = randint(1, 6)
 print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 1 두번째 주사위= 2
첫번째 주사위= 4 두번째 주사위= 4
첫번째 주사위= 2 두번째 주사위= 5